<div class="node" *ngIf="xCoord >= 0 && yCoord >= 0"
  [ngClass]="{'explored': isExplored,'start':isStart,'target':isTarget,'visited':isVisited,'isRock':isRock}">

  <ng-container *ngIf="isTarget; else elseTTemplate">
    E
  </ng-container>
  <ng-template #elseTTemplate>
    <ng-container *ngIf="isStart; else elseTemplates">
      S
    </ng-container>
    <ng-template #elseTemplates>
      <ng-container *ngIf="isExplored; else elseTemplateN">
        g:{{gCost}}
        h:{{hCost}}
        f:{{fCost}}
      </ng-container>
      <ng-template #elseTemplateN>
      </ng-template>
    </ng-template>
  </ng-template>




</div>