::ng-deep .node {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
}
::ng-deep .visited {
  background-color: yellow !important;
}

::ng-deep .target {
  background-color: red;
}

::ng-deep .start {
  background-color: green;
}

::ng-deep .explored {
  background-color: teal;
}
